{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "api": "./src/api",
          "handlers": "./src/handlers",
          "models": "./src/models",
          "services": "./src/services",
          "utils": "./src/utils",
          "variables": "./src/variables",
          "config": "./config",
          "underscore": "lodash"
        }
      }
    ]
  ]
}
